body {
    background-color:#c2c2a3;  
}
form {
    background-color:#0000b3;
    width: 360px;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    border: 4px solid #fff;
}
.dispres {
    width: 340px;
   height: 50px;
   font-size: 36px;
   border-radius: 5px;
   box-shadow: 0px 0px 2px 2px #000;
   border: 2px solid #000;
   text-align: right;
}
.button {
    position: relative;
    width: 60px;
    height: 50px;
    border: none;
    background: none;
    font-size: 28px;
    margin: 11px;
    color: #fff;
    border: 2px solid  #fff;
    border-radius: 5px;
    outline: none;
}
.button1 {
    position: relative;
    width: 145px;
    height: 50px;
    border: none;
    background: none;
    font-size: 28px;
    margin: 11px;
    color: #fff;
    border: 2px solid  #fff;
    border-radius: 5px;
    outline: none;
}
.button:active, .button1:active {
    color: #000;
}